<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<footer class="footer" th:fragment="footer">
  <div class="container">
    <div class="footer-grid">
      <div class="footer-col">
        <div class="footer-logo">
          <span class="logo-icon">⚔️</span>
          <span class="logo-text">Loregard</span>
        </div>
        <p class="footer-description">
          Мир магии, сражений и древних легенд
        </p>
        <div class="social-links">
          <a href="#" class="social-link">VK</a>
          <a href="#" class="social-link">TG</a>
          <a href="#" class="social-link">DS</a>
          <a href="#" class="social-link">YT</a>
        </div>
      </div>

      <div class="footer-col">
        <h4>Информация</h4>
        <ul>
          <li><a href="/about">О проекте</a></li>
          <li><a href="/rules">Правила</a></li>
          <li><a href="/staff">Администрация</a></li>
          <li><a href="/shop">Магазин</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Игровое</h4>
        <ul>
          <li><a href="/heroes">ТОП игроков</a></li>
          <li><a href="/guilds">Гильдии</a></li>
          <li><a href="/wiki">Википедия</a></li>
          <li><a href="/map">Карта мира</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Поддержка</h4>
        <ul>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/support">Техподдержка</a></li>
          <li><a href="/contacts">Контакты</a></li>
          <li><a href="/banlist">Бан-лист</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">© 2026 Loregard. Да хранят вас древние руны</div>
      <div class="magic-signature">✦ Хранители равновесия ✦</div>
    </div>
  </div>
</footer>
</body>
</html>